worktrees
*.vmlinuz
debian/.debhelper
debian/control
debian/debhelper-build-stamp
debian/files
debian/linux-headers-example-amd64.substvars
debian/linux-headers-example-amd64
debian/linux-image-example-amd64.substvars
debian/linux-image-example-amd64
debian/linux-image-example-amd64-dbg.substvars
debian/linux-image-example-amd64-dbg
debian/linux-libc-dev-example-amd64.substvars
debian/linux-libc-dev-example-amd64
debian/linux-headers-platina-mk1.substvars
debian/linux-headers-platina-mk1
debian/linux-image-platina-mk1.substvars
debian/linux-image-platina-mk1
debian/linux-image-platina-mk1-dbg.substvars
debian/linux-image-platina-mk1-dbg
debian/linux-libc-dev-platina-mk1.substvars
debian/linux-libc-dev-platina-mk1
